body {
	font-family: 'Open Sans', sans-serif;
}
/* HEADER */

header {
	background-image: url("../img/grupal.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 650px;
}

a {
	text-decoration: none;
	color: #000000;
	font-size: 15px;

}

nav {
	margin-left: 90px;
	margin-top: 50px;
}

nav a {
	margin-right: 7px;
}

.button {
	border: 1px solid #FCB739;
	border-radius: 3px;
	width: 55px;
	height: 25px;
	background-color: #FCB739;
	margin-top: 50px;
	margin-left: 90px;
	padding: 10px;
	display: block;
}

header img {
	margin-top: 80px;
	width: 90%;
}

/* SECTION*/

section img {
	margin: 20px 5px;
	width: 90%;
}

section > img, strong {
	display: inline-block;
}

/* FOOTER*/

footer {
	background-color: #323230;
	color: #FFFFFF;
	margin: 14px 0;
	padding: 21px 0;
}

footer p {
	font-size: 13px;
}